{# Jinja Template #}
# {{ title }}

## Holding Registers
| Entry |  Name  |  Data Type  |  Address | Register Count |
|-------|:------:|:-----------:|:--------:|:--------------:|
{%- for entry in schema["holding register"] %}
| {{ loop.index }}.    | {{ entry["name"] }} | {{ entry["data type"] }} {% if entry.length > 1 %}[{{ entry.length }}]  {% endif %} | {{ "%d" %(entry.address) }} | {{ entry["register count"] }} |
{%- endfor %}

## Input Registers
| Entry |  Name  |  Data Type  |  Address | Register Count |
|-------|:------:|:-----------:|:--------:|:--------------:|
{%- for entry in schema["input register"] %}
| {{ loop.index }}.    | {{ entry["name"] }} | {{ entry["data type"] }} {% if entry.length > 1 %}[{{ entry.length }}]  {% endif %} | {{ "%d" %(entry.address) }} | {{ entry["register count"] }} |
{%- endfor %}
