{# Jinja Template #}
# {{ title }}

## Holding Registers
| Entry |  Name  |  Data Type  |  Address | Register Count |
|-------|:------:|:-----------:|:--------:|:--------------:|
{%- for entry in schema.holding_registers %}
| {{ loop.index }}.    | {{ entry.name }} | {{ entry.dtype }} {% if entry.length > 1 %}[{{ entry.length }}]  {% endif %} | {{ "0x4%05x" %(entry.address) }} | {{ entry.registers }} |
{%- endfor %}

## Input Registers
| Entry |  Name  |  Data Type  |  Address | Register Count |
|-------|:------:|:-----------:|:--------:|:--------------:|
{%- for entry in schema.input_registers %}
| {{ loop.index }}.    | {{ entry.name }} | {{ entry.dtype }} {% if entry.length > 1 %}[{{ entry.length }}]  {% endif %} | {{ "0x3%05x" %(entry.address) }} | {{ entry.registers }} |
{%- endfor %}
